@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;600;900&display=swap');
/*@import url('antd/dist/antd.css');
@import url('./general.css');
@import url('./navbar.css');
@import url('./clones.css');*/
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
body {
    background: #000;
}
/*:root {
    --blanco: #f8f8ff;
    --violetaClaro: #8F8EBF;
    --violetaClaroAlpha: rgba(143, 142, 191, 0.6);

    --violetaMedio: #5F5DA6;
    --violetaMedioAlpha: rgba(95, 93, 166, 0.8);

    --violetaOscuro: #4F4D8C;
    --violetaOscuroAlpha: rgba(79, 77, 140, 0.85);

    --violetaAzul: #2E4159;
    --violetaAzulAlpha: rgba(46, 65, 89, 0.829);
}

body {
    background-color: black;
    background-image: url('../assets/dollars.png');
    background-image: drop-shadow(2rem 2rem 1rem #4444dd);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
}

.banner {
    width: 100%;
    height: 6rem;
    box-shadow: 0rem 3rem 10rem 2.5rem var(--violetaAzul);
    background-image:  url('../assets/digimonBanner2.png');
    background-position: center;
    background-size: 1200px 100%;
}

.fondo {
    padding-bottom: 2rem;
    padding-top: 2rem;
}



@media (min-width: 600px) {
    .banner {
        background-size: cover;
    }

}*/