.NavBar {
    background-color: var(--violetaClaro);
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly; 
    padding: 0.3rem 0rem;
}

.botonNavBar {
    padding: 0.5rem 2rem;
    border: 1;
    background-color: var(--violetaOscuro);
    min-width: 12rem;
    max-width: 12rem;
    border-radius: 0.3rem;
    text-align: center;
}

.linkNavBar {
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}

/*
#392E40
#0583F2
#D97904
#733702
#F20505

#6D56BF
#1F3473
#0554F2
#056CF2
#D9805F
*/